%titulos {
    color: rgb(243, 234, 234);
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}

%flex {
    display: flex;
    justify-content: center;
}

%menu-container {
    background-color:#828F7B;
    padding: 20px 0;
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

%text-nav {
    list-style-type: none;
    text-decoration: none;
    color: rgb(2, 2, 31);
}

%logo {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: start;
}

%h2 {
    background-color: antiquewhite;
    color: rgb(7, 7, 49);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 27px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 20px;
}

%camion {
    width: 75px;
    height: 75px;
}

%grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'proyecto proyecto proyecto'
    'comoda rack sorteo'
    'vajillero escritorio sorteo';
    place-items: center;
    gap: 20px;
    position: relative;
    border: 3px solid rgb(243, 234, 234);
    color: rgb(243, 234, 234);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 0px;
}

%grid-uno {
    grid-area: proyecto; 
    justify-content: center;   
}

%proyectando {
    width: 98%;
    height: 250px;
    border: solid; 
}

%grid-dos {
    grid-area: sorteo;
}

%taladro {
    width: 400px;
    height: 600px;
    border: solid rgb(243, 234, 234); 
}

%grid-tres {
    grid-area: comoda;
}

%muebles {
    width: 350px;
    height: 150px;
    border: solid;
}

%grid-cuatro {
    grid-area: rack;
}

%grid-cinco {
    grid-area: vajillero;
}

%grid-seis {
    grid-area: escritorio;
}










%parrafo1 {
    color: rgb(243, 234, 234);
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 40px;
    padding: 20px 0px;
}


%footer {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    align-items: flex-end;
}

%redes {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    align-items: flex-end;
}

